@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-grey: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  background-color: var(--light-grey);
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 0 2rem;
}
#community {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#community .community-header {
  background-color: white;
  padding: 40px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
#community .community-header h1 {
  color: var(--cyan);
}
#community .community-header h2 {
  color: var(--bright-yellow);
  font-size: 18px;
  margin: 20px 0 10px;
}
#community .community-header p {
  color: var(--grayish-blue);
  line-height: 1.5;
}

#community .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#community .row .col {
  padding: 40px;
  color: var(--light-grey);
}
#community .row .col-1 {
  background-color: var(--cyan);
  border-bottom-left-radius: 8px;
}

#community .row .col-1 .paying {
  font-size: 32px;
  margin: 15px 0 10px;
  display: flex;
  align-items: center;
}
#community .row .col-1 .paying small {
  font-size: 14px;
  opacity: 0.5;
  margin-left: 10px;
}
#community .row .col-2 {
  border-bottom-right-radius: 8px;
  background-color: hsl(179, 72%, 47%);
}
#community .row .col-2 p {
  margin-top: 15px;
  line-height: 1.3;
}

.btn {
  background-color: var(--bright-yellow);
  width: 100%;
  color: var(--light-grey);
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive */
@media (max-width: 600px) {
  #community .row {
    grid-template-columns: 1fr;
  }
  #community .row .col-1 {
    border-bottom-left-radius: 0px;
  }
  #community .row .col-2 {
    border-bottom-left-radius: 8px;
  }
}
